<nav class="bg-primary text-white px-6 py-4 shadow-md">
  <div class="flex justify-between items-center">
    <div class="text-xl tracking-wide">
      Shasti Poorthi
    </div>

    <div class="hidden md:flex space-x-6">
      <a routerLink="/home" routerLinkActive="font-bold underline">Home</a>
      <a routerLink="/details" routerLinkActive="font-bold underline">Details</a>
      <a routerLink="/location" routerLinkActive="font-bold underline">Location</a>
      <a routerLink="/memories" routerLinkActive="font-bold underline">Memories</a>
      <a routerLink="/rsvp" routerLinkActive="font-bold underline">RSVP</a>
      <a routerLink="/about" routerLinkActive="font-bold underline">About</a>
    </div>
  </div>
</nav>