<div class="px-5 py-10">

  <div class="px-1">

    <div class="max-w-2xl w-full mx-auto 
                bg-white/80 backdrop-blur-md 
                shadow-xl rounded-2xl 
                p-4 md:p-6 
                text-center animate-fadeInUp 
                relative overflow-visible">

      <div class="flex justify-center items-center gap-6 md:gap-10 mb-6 relative">

        <!-- Father -->
        <div class="bg-white p-1 rounded-full border-2 border-gold shadow-[0_0_15px_rgba(255,215,0,0.3)]">
          <img src="assets/father.JPG" class="w-20 h-20 md:w-24 md:h-24 rounded-full object-cover animate-float" />
        </div>

        <!-- Mother -->
        <div class="bg-white p-1 rounded-full border-2 border-gold shadow-[0_0_15px_rgba(255,215,0,0.3)]">
          <img src="assets/mother.JPG" class="w-20 h-20 md:w-24 md:h-24 rounded-full object-cover animate-float-slow" />
        </div>

      </div>

      <p class="italic text-gray-700">
        Request your esteemed presence
      </p>

      <p class="mt-2 text-gray-700">
        on the occasion of the
      </p>

      <h1 class="text-3xl md:text-5xl text-primary font-bold mt-2">
        Shastiabdha Poorthi
      </h1>

      <p class="mt-4">
        of my beloved father
      </p>

      <p class="text-xl font-semibold text-primary">
        Sri D. K. Baladri (Balaji Chetty)
      </p>

      <p class="text-sm text-gray-600">
        (Asst Care Taker of DRBCCC Egmore Choultry)
      </p>

      <p class="mt-4">
        and
      </p>

      <p class="text-xl font-semibold text-primary">
        Swarna Maangalya Dhaaranam
      </p>

      <p class="mt-2">
        to my beloved mother
      </p>

      <p class="text-xl font-semibold text-primary">
        Smt. D. B. Vasantha Kumari (Pavithra)
      </p>

      <div class="w-24 h-1 bg-gold mx-auto my-6 rounded"></div>


      <p class="text-lg">
        <strong>18th May 2026 (Monday)</strong>
      </p>

      <p class="mt-2">
        Between <strong>12:00 Noon – 12:30 PM</strong>
      </p>

      <div class="mt-6 flex flex-wrap justify-center gap-4">
        <a routerLink="/details" href="#/details"
          class="bg-primary text-white px-5 py-2 rounded-full shadow hover:scale-105 transition">
          View Program
        </a>

        <a routerLink="/location" href="#/location"
          class="bg-gold text-black px-5 py-2 rounded-full shadow hover:scale-105 transition">
          View Location
        </a>

        <a href="assets/invitation.png" download target="_blank"
          class="bg-gradient-to-r from-purple-600 to-purple-800 text-white px-5 py-2 rounded-full shadow hover:scale-105 transition">
          📄 Download Invite
        </a>
      </div>


    </div>
  </div>